@import '../variables';
@import '../global';

//Block
.textinput {
  margin-bottom: 16px;
}

//Element
.textinput-error {
  color: $red;
  margin-top: 5px;
  font-size: 12px;
}

//Modifier
.textinput-state-error {
  border: solid 1px $red;
}