@import '../variables';
@import '../global';

.item_list_wrapper{
    max-width:1300px;
    margin:0 auto;
    padding: 20px;
}


.item_wrapper{
    border: 1px solid $borderGray;
    padding:20px;
    padding-bottom: 0;
    background-color: $bkgInputGray;
    overflow: auto;
    border-radius:2px;
    margin-bottom: 10px;

    .item_input_wrapper{
        float: left;
        width: 50%;
        .item_input{
            display: inline-block;
            margin-right: 10px;
            label{
                text-transform: uppercase;
            }
            &.number{
                width:23%;
            }
            &.qty{
                width:12%
            }
            &.comments{
                width:25%;
            }
            &.cost{
                width:20%;
            }
        }
    }
    .item_info_wrapper{
        float: left;
        width: 50%;
        .item_info{
            display: inline-block;
            margin-right: 10px;
            vertical-align: top;
            label{
                text-transform: uppercase;
            }
            &.description{
                width:50%;
            }
            &.price{
                width:20%
            }
        }
    }
    .item_btn{
        background: transparent;
        color:$blue;
        border:0;
    }
    .btn_wrapper{
        line-height: 60px;
        display: inline-block;
        width:10%;
        .remove{
            display: inline-block;
             vertical-align: base-line;
        }

    }
  
}


.list_btn_wrapper{
    display: block;
    box-sizing:border-box;
    .item_btn{
        background: transparent;
        color:$blue;
        border:0;
        padding: 10px 0;

        &.add_to_cart{
            color:$white;
            background-color:$blue;
            padding:10px 20px;
            margin-left: 20px;
        }
        
    }
    .right{
        float: right;
    }
}