.od-components-th {
  //Inputs
  input[type="text"],
  input[type="password"] {
    border-radius: $input-radio;
    height: $input-height;
    border: $input-normal-border;
    background-color: $input-normal-bkg;
    color: $input-normal-label-color;
    box-sizing: border-box;
    font-size: $fontSizeInput;
    padding-left: 10px;
    width: 100%;
    &:disabled {
      border: $input-disabled-border;
      background-color: $input-disabled-bkg;
      color: $input-disabled-label-color;
    }

    &:focus {
      border: $input-focus-border;
      background-color: $input-focus-bkg;
      color: $input-focus-label-color;
    }

    &.error {
      border: $input-error-border;
      background-color: $input-error-bkg;
      color: $input-error-label-color;
    }
  }

  //Labels
  label {
    font-weight: $label-font-weight;
    font-family: $label-font-family;
    font-size: $label-font-size;
    color: $text-color;
  }

  //Links
  a {
    text-decoration: $a-text-decoration;
    font-weight: $a-font-weight;
    font-family: $a-font-family;
    font-size: $a-font-size;
    color: $a-font-color;
  }

  //H1
  h1 {
    font-weight: $h1-font-weight;
    font-family: $h1-font-family;
    font-size: $h1-font-size;
    color: $text-color;
  }

  //List
  li {
    font-weight: $li-font-weight;
    font-family: $li-font-family;
    font-size: $li-font-size;
    color: $text-color;
  }

  //Buttons
  button,
  a.btn-style,
  input[type="submit"] {
    width: auto;
    box-shadow: none;
    margin: $btn-margin;
    border-radius: $btn-radio;
    padding: $btn-padding;
    background-color: $btn-primary-bkg-color;
    color: $btn-primary-color;
    &:hover {
      opacity: $btn-hover-opacity;
    }
    &.btn-secondary {
      background-color: $btn-secondary-bkg-color;
      color: $btn-secondary-color;
      border: $btn-secondary-border;
    }
    &.btn-cancel {
      background-color: $btn-cancel-bkg-color;
      color: $btn-cancel-color;
      border: $btn-cancel-border;
    }
    &.disabled,
    &:disabled {
      background-color: $btn-bkg-disable-color;
      border: none;
    }
  }

  //Flexbox Main layout
  .flex-container {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    min-height: 100vh;
  }

  .flex-col-menu {
    flex-grow: 1;
  }

  .flex-col-content {
    flex-grow: 10;
    padding: 20px;
  }
}

