//Theme colors
$red: #B30000;                // Alert, errors
$blue: #1E5A99;               // Links, Buttons, Focus
$black: #000000;              // Text, menu bkg.
$gray: #373737;               // Texts, Placeholders
$grayLight: #D1D1D1;          // Disabled elements, soft lines
$grayMedium: #999999;         // Top tables, menu items
$white: #FFF;                 // Global background, text on color
$green: #7ED321;              // Positive, success, new, active
$yellow: #FFC600;             // Pending action
$borderGray: $grayMedium;     // Color for border

//Input colors
$borderInputGray: #CCCCCC;    // Color for border for input elements
$bkgInputGray: #D4D4D4;       // Color for background for input elements
$fontSizeInput: 14px;

//Buttons
$btn-radio: 5px;
$btn-padding: 10px 25px;
$btn-margin: 5px 10px;
$btn-hover-opacity: 0.7;
$btn-bkg-disable-color: $grayLight;

//Primary Button
$btn-primary-color: $white;
$btn-primary-bkg-color: $blue;

//Secondary Button
$btn-secondary-color: $blue;
$btn-secondary-bkg-color: $white;
$btn-secondary-border: 1px solid $blue;

//Cancel Button
$btn-cancel-color: $grayMedium;
$btn-cancel-bkg-color: $white;
$btn-cancel-border: 1px solid $grayMedium;

//Text
$text-color: $black;

//h1
$h1-font-family: 'opensans' sans-serif;
$h1-font-weight: 600;
$h1-font-size: 24px;

//Input Label
$label-font-family: 'Helvetica Neue';
$label-font-weight: normal;
$label-font-size: 16px;

//List Item (li)
$li-font-family: 'Helvetica Neue';
$li-font-weight: normal;
$li-font-size: 14px;

//Menu Items (colored bkg)
$menu-font-family: 'opensans' sans-serif;
$menu-font-weight: normal;
$menu-font-size: 16px;
$menu-font-color: $white;

//Links
$a-font-family: 'opensans' sans-serif;
$a-font-weight: 600;
$a-font-size: 12px;
$a-font-color: $blue;
$a-text-decoration: 'underline';

//Forms
$input-height: 38px;
$input-radio: 3px;

//Input state Normal
$input-normal-bkg: $white;
$input-normal-border: 1px solid $borderInputGray;
$input-normal-label-color: $grayMedium;

//Input state Disabled
$input-disabled-bkg: $bkgInputGray;
$input-disabled-border: 1px solid $borderInputGray;
$input-disabled-label-color: $grayMedium;

//Input state Focus
$input-focus-bkg: $white;
$input-focus-border: 1px solid $blue;
$input-focus-label-color: $black;

//Input state Error
$input-error-bkg: $white;
$input-error-border: 1px solid $red;
$input-error-label-color: $black;
