@import '../variables';
@import '../global';

//Input Label
$label-font-family: 'Helvetica Neue';
$label-font-weight: normal;
$label-font-size: 16px;

.label {
  display: block;
  font-size: $label-font-size;
  font-weight: $label-font-weight;
  font-family: $label-font-family;
  padding-bottom: 5px;
}

.label-required {
  color: $red;
}