body,html{
  width:100%;
  height:100%;
  margin: 0;
  padding: 0;
  font-family: f8;
}

#app{
  width: 100%;
  height: 100%;
}

.fullBg{
  background:url(../image/bg.jpeg) no-repeat;
  background-size:cover;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center
}

.login .panel{
  background-color: rgba(255, 255, 255, 0.32);
  width:350px;
  margin:0;
  border-radius: 0;
}

.login .login-heading{
  text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    font-family: f8;
    color: #fff;
}

.login button{
  margin-bottom: 20px;
    border-radius: 0;
    background-color: transparent;
    font-size: 16px;
    text-transform: uppercase;
    color: #fffbfb;
    border: 2px solid;
}

/* general css */

.noPaddingRight{
  padding-right: 0;
}

.noPaddingLeft{
  padding-left: 0;
}

.padtopBottom10{
  padding: 10px 0;
}

.noPadding{
  padding: 0 !important;
}

.textLeft{
  text-align: left;
}

.textRight{
  text-align: right;
}

.noMargin{
  margin: 0;
}
.alignCenter{
  text-align: center !important;
}

.alignLeft{
  text-align: left !important;
}

.margin15{
  margin: 15px !important;
}

.block{
    display: block;
    overflow: auto;
    box-sizing: border-box;
}

.alignCenterText{
  text-align: center;
}

.alignRightText{
  text-align: right;
}

.noBorder{
  border:0;
}

.noPointer{
  cursor: initial;
}

.cursorPointer{
  cursor: pointer !important;
}

.fullWidthBlock{
  display: block;
  width:100%;
  height:100%;
  box-sizing: border-box;
}

.boxShadow{
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.22);
}

.headingH4{
      font-family: f8;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: #2e353d;
  position: fixed;
  top: 0px;
  width: 230px;
  height: 100%;
  color: #e1ffff;
}
.nav-side-menu .brand {
  background-color: #23282e;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: initial;
  cursor: pointer;
  /*    
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #181c20;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #020203;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu li {
  padding-left: 0px;
  border-left: 3px solid #2e353d;
  border-bottom: 1px solid #23282e;
}
.nav-side-menu li a {
  text-decoration: none;
  color: #e1ffff;
  padding: 6px 5px 8px 15px;
  display: block;
  font-size:14px;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.nav-side-menu .brand img{
  max-width: 100%;
  display: block;
}

.ca-container{
  box-sizing: border-box;
  padding : 20px 15px 20px 245px;
  display: block;
  overflow: hidden;
}

.ca-container textarea{
  width:100%;
  padding: 6px 12px;
}

.ca-container .panel{
  box-shadow:none;
}

.ca-container .panel-default{
  background-color: #fff;
  border:0;
}

.ca-container .panel-heading{
  background-color: #fff;
  border:0;
  overflow: auto;
  display: block;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
  margin: 0 15px;
}


.btn-add{
  background-color: #FF9900;
  border:0;
  border-radius: 0;
  font-family:f11;
  text-transform: uppercase;
  transition: 0.2s ease-in;
}

.btn-add:hover{
  background-color: rgba(255, 153, 0, 0.9);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-add i{
  margin: 0 5px;
}

.btn-close{
  border-radius: 0;
  font-family:f11;
  text-transform: uppercase;
    transition: 0.2s ease-in;
    margin-left: 20px;
}

.btn-close:hover{
  background-color: #fff;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ca-container label{
  display: block;
  margin-top:10px;
  font-family: f11;
  letter-spacing: 0.5px;
}

.ca-container textarea{
  width:100%;
  padding: 6px 12px;
}

.user-profile{
  background-color: #2e353d;
  color: #fff;
  font-family: f8;
}

.user-profile a{
  color: #fff;
  font-family: f8;
  text-decoration: none;
}

.user-profile .dropdown-menu{
  top: 192%;
  right: -15px;
  margin: 0;
  padding: 0;
  left:inherit;
  border-radius:0;
  background-color: #2e353d;
  box-shadow: none;
  border:0;
  min-width:170px;
}

.user-profile .dropdown-menu li a{
  padding: 5px 10px;
  color:#fff;
  cursor:pointer;
  border-bottom: 1px solid #fff;
}

.user-profile .dropdown-menu li a:hover{
  background-color:#4f5b69;
}

.user-profile .dropdown-menu li:last-child a{
  border-bottom: 0;
}



.ca-ctm-table{
  border:0;
  font-family: f8;
} 

.ca-ctm-table thead{
    background: #555;
    margin-bottom: 10px;
    color: #ddd;
    font-family: f11;
    letter-spacing: 0.5px;
    border-bottom: 10px solid white;
}

.ca-ctm-table tbody{
  color: #000;
}

.ca-ctm-table tbody>tr>td>a{
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
  color:#555;
}

.ca-ctm-table tbody>tr>td>a:hover{
  color:#a9a9a9;
}

.ca-ctm-table tbody>tr>td .edit{
  font-size:16px;
  padding-right:5px;
  color:#6a73a7;
}

/* .ca-ctm-table tbody>tr>td .edit:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */

.ca-ctm-table tbody>tr>td .delete{
  font-size:16px;
  color:#ED5E68;
  font-weight: bold;
  cursor:pointer;
}


/* .ca-ctm-table tbody>tr>td .delete:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */


.ca-ctm-table thead .table-striped > tbody > tr:nth-of-type(odd){
  background-color: #fdfcfc;
}

.ca-ctm-table.table-bordered > thead > tr > th,.ca-ctm-table.table-bordered > tbody > tr > th,.ca-ctm-table.table-bordered > tfoot > tr > th, .ca-ctm-table.table-bordered > thead > tr > td, .ca-ctm-table.table-bordered > tbody > tr > td, .ca-ctm-table.table-bordered > tfoot > tr > td{
  border:0;
}

.ca-ctm-modal .modal-content{
  border-radius: 0;
  border:0;
}

.ca-ctm-modal .modal-footer{
  border-top:0;
}

.ca-ctm-form{
    display: block;
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
    padding:15px;
}

.ca-ctm-form .form-control{
  box-shadow: none;
  border-radius: 0;
}

.ca-ctm-form textarea{
  box-shadow: none;
  border-radius: 0;
  outline:none;
}

/* ============================================================
  COMMON
============================================================ */
.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}

.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* ============================================================
  SWITCH 1 - ROUND
============================================================ */
input.cmn-toggle-round + label {
  padding: 2px;
  width: 34px;
  height: 16px;
  background-color: #dddddd;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 20px;
  margin: 0;
}
input.cmn-toggle-round + label:before, input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: #f1f1f1;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 20px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}
input.cmn-toggle-round + label:after {
  width: 14px;
  background-color: #fff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: margin 0.4s;
  -moz-transition: margin 0.4s;
  -o-transition: margin 0.4s;
  transition: margin 0.4s;
}
input.cmn-toggle-round:checked + label:before {
  background-color: #004eff;
}
input.cmn-toggle-round:checked + label:after {
  margin-left: 20px;
}

/* ============================================================
  SWITCH 2 - ROUND FLAT
============================================================ */
input.cmn-toggle-round-flat + label {
  padding: 2px;
  width: 120px;
  height: 60px;
  background-color: #dddddd;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}
input.cmn-toggle-round-flat + label:before, input.cmn-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}
input.cmn-toggle-round-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #fff;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}
input.cmn-toggle-round-flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 52px;
  background-color: #dddddd;
  -webkit-border-radius: 52px;
  -moz-border-radius: 52px;
  -ms-border-radius: 52px;
  -o-border-radius: 52px;
  border-radius: 52px;
  -webkit-transition: margin 0.4s, background 0.4s;
  -moz-transition: margin 0.4s, background 0.4s;
  -o-transition: margin 0.4s, background 0.4s;
  transition: margin 0.4s, background 0.4s;
}
input.cmn-toggle-round-flat:checked + label {
  background-color: #8ce196;
}
input.cmn-toggle-round-flat:checked + label:after {
  margin-left: 60px;
  background-color: #8ce196;
}

/* ============================================================
  SWITCH 3 - YES NO
============================================================ */
input.cmn-toggle-yes-no + label {
  padding: 2px;
  width: 120px;
  height: 60px;
}
input.cmn-toggle-yes-no + label:before, input.cmn-toggle-yes-no + label:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: #fff;
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  text-align: center;
  line-height: 60px;
}
input.cmn-toggle-yes-no + label:before {
  background-color: #dddddd;
  content: attr(data-off);
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  transition: transform 0.5s;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
input.cmn-toggle-yes-no + label:after {
  background-color: #8ce196;
  content: attr(data-on);
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
input.cmn-toggle-yes-no:checked + label:before {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
input.cmn-toggle-yes-no:checked + label:after {
  -webkit-transform: rotateY(0);
  -moz-transform: rotateY(0);
  -ms-transform: rotateY(0);
  -o-transform: rotateY(0);
  transform: rotateY(0);
}


@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}
/* body {
  margin: 0px;
  padding: 0px;
}

#wrapper {
  min-width: 600px;
}

.settings {
  display: table;
  width: 100%;
}
.settings .row {
  display: table-row;
}
.settings .question,
.settings .switch {
  display: table-cell;
  vertical-align: middle;
  padding: 10px;
}
.settings .question {
  width: 600px;
  font-family: "Roboto Slab", serif;
  font-size: 20px;
} */

.ctm-checkbox{
  display: none;
}

.ctm-checkbox + span{
  cursor: pointer;
}

.ctm-checkbox + span:before{
  content: "\f096";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  font-size: 18px;
  margin-right: 5px;
  -webkit-font-smoothing: antialiased;
  vertical-align: middle;
  color:#004eff;
  font-size:20px;
  width: 1em;
}

.ctm-checkbox:checked + span:before{
  content: "\f046";
  color:#004eff;
}


.ctm-radio{
  display: none;;
}

.ctm-radio + span{
  cursor: pointer;
}

.ctm-radio + span:before{
  content: "\f1db";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  font-size: 20px;
  margin-right: 5px;
  -webkit-font-smoothing: antialiased;
  vertical-align: middle;
  color:#004eff;
  width: 1em;
}

.ctm-radio:checked + span:before{
  content: "\f05d";
  color:#004eff;
}


.loader-container{
  position: fixed;
    height: 100%;
    width: 100%;
    text-decoration: none;
    pointer-events: none;
    cursor: default;
    display: block;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6392156862745098);
}
.loader-container .loader {
  position: absolute;
  top: 50%;
  left:50%;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-bottom: 16px solid blue;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.img-wrapper{
  width:150px;
  height:100px;
  overflow: hidden;
  display: inline-block;
  margin-right: 10px;
}

.autoSuggest{
  position: relative;
  display: block;
}
.autoSuggestList{
  position: absolute;
  display: block;
  top: 102%;
    width: 100%;
    max-height: 150px;
    list-style: none;
    background: #ff9900;
    -webkit-padding-start: 0;
    overflow-y: auto;
    z-index: 10;
     -webkit-box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
          box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
}

.autoSuggestList li{
  color:#fff;
  padding: 5px 10px;
  border-bottom: 1px solid #fff;
}

.ReactTable.-highlight .rt-tbody .rt-tr:not(.-padRow):hover{
  background: rgba(0, 0, 0, 0.1) !important;
}


.artist-wrapper{
  display: block;
  box-sizing: border-box;
  overflow: auto;
   -webkit-box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
          box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
          margin-bottom: 10px;
          padding: 5px;
}

.artist-wrapper img{
  width:50px;
  height:50px;
  border-radius:50%;
}

.artist-wrapper span{
  color:#555;
  margin-left: 5px;
  font-weight: 600;
}

.artist-wrapper span i{
  float: right;
}